.leaflet-container{
    width: 100%;
    height: 100%;
}

.TituloHome{
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ClimaHoy{
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
}

.MapaRio{
    height: 500px;
}
